
:root{  


       /* ASH 1 */
    --ash1-darka: hsl(204, 21%, 15%);
    --ash1-darkb: hsl(204, 18%, 27%);
    --ash1-gray: hsl(204, 16%, 45%);
    --ash1-lgray: hsl(204, 26%, 60%);


     /* SIGNS */
    --color-danger-a: hsl(355, 100%, 70%);
    --color-danger-b: hsl(355, 70%, 80%);
    --color-danger-c:hsl(353, 40%, 90%);
    --color-warning: hsl(35, 80%, 70%);
    --color-success-a: hsl(125, 85%, 60%);
    --color-success-b: hsl(160,60%, 70%);
    --color-success-c:hsl(150, 80%, 80%);
 
    /* SHADOWS */
    --shad-alpha: rgba(53,53,53,0.5);
    --shad-alpha-b: rgba(53,53,53,0.4);
    --shad-alpha-c: rgba(53,53,53,0.3);
    --shad-alpha-d: rgba(53,53,53,0.2);
    --shad-alpha-e: rgba(53,53,53,0.1);
    
    --shad-dark: rgb(0,0,0);

    --shad-dark-b: rgba(0,0,0,0.7);
    --shad-dark-c: rgba(0,0,0,0.6);
    --shad-dark-d: rgba(0,0,0,0.5);
    --shad-dark-e: rgba(0,0,0,0.4);
    --shad-dark-f: rgba(0,0,0,0.3);
    --shad-dark-g: rgba(0,0,0,0.2);
    --shad-dark-h: rgba(0,0,0,0.1);

    /* 1.618  */
    --fns-default-down-0-6:0.618rem;
    --fns-down-1:0.8rem;
    --fns-default-1:1rem;
    --fns-up2:1.3rem;
    --fns-default-up1-6:1.618rem;
    --fns-up4:2.1rem;
    --fns-default-up2-6:2.617rem;
    --fns-default-up4-2:4.23rem;
    --fns-default-up-6-8:6.84rem;

}

@font-face {
    font-family: "Parkisans";
    src: url('./../../public/assets/Fonts/Parkinsans-Regular.ttf');
}
@font-face {
    font-family: "Monument";
    src: url('./../../public/assets/Fonts/MonumentExtended-Regular.otf');

}


*{
    font-family: "Parkisans";
    padding: 0rem;
    margin: 0rem;
    color: var(--ash1-darka);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}       

a{
    text-decoration: none;
    color: var(--ash1-darka);
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
     display: flex;
    align-items: center;
    justify-content: center;
}

ol{
       display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

        .wrapper{
            display: grid;
            grid-template-columns: 1.5fr 8.5fr ;
            grid-template-rows: 1fr 9fr;     
            gap: 1rem;
            height: 100%;
            width: 100%; 
        }

            .container{
                display: flex;
                align-items: center;
                justify-content:center;
                border-radius: 10px;
            }

          .container.header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;       
                box-shadow: 5px 5px 15px var(--shad-alpha-e);
            }       

                .header *{
                    margin: 0rem 1rem;
                }
                
                .header img{
                    border-radius: 50%;
                    
                }
                
                
            /* SIDEBAR ============================ ======================== */
            .container.sidebar{
                display: flex;
                align-items: center;
                justify-content: start;
                flex-direction: column;
                grid-area: 1/1/3/1; 
                background-color:whitesmoke
            }   

                .sidebar ul{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  
                }   
                    .sidebar .logo_frame{
                        height: 10%;
                        width: 100%;
                    }   
                        .logo_frame span{
                            font-size:1rem;
                            font-family: "Monument";
                            color: var(--ash1-darka);
                        }
                    .sidebar .button_frame{
                        flex-direction: column;
                        justify-content: start;
                        height: 90%;
                        width: 100%;                     
                    }   
                        .button_frame a{
                            width: 85%;
                            padding: 0.4rem 0.2rem;
                            border-radius: 8px;                     
                            margin: 1rem 0rem;
                        }   
                            .button_frame .dashboard{
                                color: whitesmoke;
                                background-color: var(--ash1-lgray);
                            }



            /* MAIN_CONTENT ============================ ============================ */
            .container.main_content{
                display: flex;
                align-items: center;
                justify-content: center;
                grid-area:2 / 2/ 2 / 4;
                overflow-y: auto;  
            
                box-shadow: 5px 5px 15px var(--shad-alpha-c);      
            }  

                .form_box{
                   position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40%;             
                }
             
                    .input_box input{
                        border: 2px solid var(--ash1-darkb);
                        border-radius: 5px;
                        width: 100%;
                        padding: 0rem 0.2rem;
                    }
                    .input_box label{
                        position: absolute;
                        font-size: var(--fns-down-1);   
                        left: 5px;
                        color: var(--ash1-lgray);
                        pointer-events: none;      
                        padding: 0rem 0.2rem;
                        background-color: white;
                    }   

                        .input_box input:focus + label,
                        .input_box input:not(:placeholder-shown) + label{
                            top: -25%;
                            transition: 0.2s;      
                            font-size: var(--fns-default-down-0-6);
                        }   

                button{
                    cursor: pointer;
                    border: none;
                    width: 100%;
                    padding: 0.2rem 0rem;
                    border-radius: 5px;
                    padding: 0.3rem 0rem;
                    background-color: var(--ash1-lgray);
                }

        .output_frame{
            display: flex;
            align-items: center;
            flex-direction: column; 
            justify-content: start;
            grid-area: 2 / 2 / 2 / 4;
            box-shadow: 5px 5px 15px var(--shad-alpha-c);
            border-radius: 8px;
            height: 100%;  
        }   
            .output_frame .form_box{width: 100%;}       

            .output_frame .header_box{
                height: 20%;
                width: 95%;         
            }   
                .header_part{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50%;    
                }
                    .header_part.left{
                        justify-content: start;
                    }   
                        .header_part.left span{
                            font-family: "Parkisans";
                            font-size:var(--fns-up2);
                            color: var(--ash1-darka);
                        }

                    .header_part.right{
                        justify-content: end;
                    }   
                        .header_part.right a{               
                            color: whitesmoke;
                            padding: 0.2rem 0.8rem;
                            border-radius: 5px  ;
                            background-color: var(--ash1-lgray);
                        }

            .output_frame .output_box{      
                display: flex;
                align-items: center;
                justify-content: start;
                flex-direction: column;
                height: 100%;  
                overflow-y: auto;
                width: 95%;   
               
            }

                .output_box .main_content_box{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    flex-direction: column;      
                    overflow-y: auto;
                    width: 100%;
                    height: 100%;               
                }   

                    .table_holder{
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        flex-direction: column;
                        overflow-y: auto;
                        height: 100%;
                        width: 100%;               
                    }

                    .table_holder table{
                        table-layout: fixed;
                        max-width: 100%;
                        width: 100%;
                        height: 100%;
                        border-spacing:0rem;
                        overflow-y: auto;
                    }
                        
                  
                        table .header_tr{
                            background-color: var(--ash1-darkb);
                        }
                        table th{
                            color: whitesmoke;
                            padding: 1rem;
                        }
                        table th:first-child{
                            border-top-left-radius: 10px;
                        }
                        table th:last-child{
                             border-top-right-radius: 10px;
                        }
                        table td{
                            color:var(--ash1-darka);
                            padding: 1rem;
                        }


                        .data.action_frame{
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;            
                        }   
                            .action_frame a{
                                padding: 0.2rem 1rem;
                                border-radius: 6px ;
                                margin: 0rem 0.2rem;
                            }
                            .action_frame .edit{
                                background-color: var(--color-warning);
                            }
                            .action_frame .delete{
                                background-color: var(--color-danger-b);
                            }

            
            .output_frame span{
                font-family: "Monument";
            }

