
:root{  


       /* ASH 1 */
    --ash1-darka: hsl(204, 21%, 15%);
    --ash1-darkb: hsl(204, 18%, 27%);
    --ash1-gray: hsl(204, 16%, 45%);
    --ash1-lgray: hsl(204, 26%, 60%);


     /* SIGNS */
    --color-danger-a: hsl(355, 100%, 70%);
    --color-danger-b: hsl(355, 70%, 80%);
    --color-danger-c:hsl(353, 40%, 90%);
    --color-warning: hsl(35, 80%, 70%);
    --color-success-a: hsl(125, 85%, 60%);
    --color-success-b: hsl(160,60%, 70%);
    --color-success-c:hsl(150, 80%, 80%);
 
    /* SHADOWS */
    --shad-alpha: rgba(53,53,53,0.5);
    --shad-alpha-b: rgba(53,53,53,0.4);
    --shad-alpha-c: rgba(53,53,53,0.3);
    --shad-alpha-d: rgba(53,53,53,0.2);
    --shad-alpha-e: rgba(53,53,53,0.1);
    
    --shad-dark: rgb(0,0,0);

    --shad-dark-b: rgba(0,0,0,0.7);
    --shad-dark-c: rgba(0,0,0,0.6);
    --shad-dark-d: rgba(0,0,0,0.5);
    --shad-dark-e: rgba(0,0,0,0.4);
    --shad-dark-f: rgba(0,0,0,0.3);
    --shad-dark-g: rgba(0,0,0,0.2);
    --shad-dark-h: rgba(0,0,0,0.1);

    /* 1.618  */
    --fns-default-down-0-6:0.618rem;
    --fns-down-1:0.8rem;
    --fns-default-1:1rem;
    --fns-up2:1.3rem;
    --fns-default-up1-6:1.618rem;
    --fns-up4:2.1rem;
    --fns-default-up2-6:2.617rem;
    --fns-default-up4-2:4.23rem;
    --fns-default-up-6-8:6.84rem;

}

@font-face {
    font-family: "Parkisans";
    src: url('./../../public/assets/Fonts/Parkinsans-Regular.ttf');
}
@font-face {
    font-family: "Monument";
    src: url('./../../public/assets/Fonts/MonumentExtended-Regular.otf');

}


*{
    font-family: "Parkisans";
    padding: 0rem;
    margin: 0rem;
    color: var(--ash1-darka);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}       

a{
    text-decoration: none;
    color: var(--ash1-darka);
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
     display: flex;
    align-items: center;
    justify-content: center;
}

ol{
       display: flex;
    align-items: center;
    justify-content: center;
}

footer{
       display: flex;
    align-items: center;
    justify-content: center;
}


        .wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: 0.8fr 8.2fr 1fr;     
            height: 100%;
            width: 100%;
        }

            .container{
                display: flex;
                align-items: center;
                justify-content:center;
            }
          .container.header {
                display: grid;
                grid-template-rows: 1fr ;
                grid-template-columns: 1fr 1fr;
                grid-area: 1 / 1 / 1 / 4;
            }   
                .header .h_box{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }       

                    .h_box .h_box_c{
                        margin: 0rem 1rem;
                    }
                    .h_box.logo_div{
                        justify-content: start;
                    }  

                    .logo_div img{
                        border-radius: 50%;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                    }
                    .h_box.nav{
                        justify-content: end;
                    }   
                    .h_box.nav a {
                        font-size: var(--fns-down-1);
                    }
                    
            

            .container.auth_wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                grid-area:2 / 1/ 2 / 4;
                
            }           
                .content_frames {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    box-shadow: 5px 5px 10px 1px var(--shad-alpha-e);
                    margin: 0rem 1rem;
                }
                .main_form {      
                    flex-direction: column;
                    border-radius: 8px;
                }   

                .form_box{
                   position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40%;
                    margin: 1rem 0rem;        
                }
             
                    .input_box input{
                        border: 2px solid var(--ash1-darkb);
                        border-radius: 5px;
                        width: 100%;
                        padding: 0rem 0.2rem;
                    }
                    .input_box label{
                        position: absolute;
                        font-size: var(--fns-down-1);   
                        left: 5px;
                        color: var(--ash1-lgray);
                        pointer-events: none;      
                        padding: 0rem 0.2rem;
                        background-color: white;
                    }   

                        .input_box input:focus + label,
                        .input_box input:not(:placeholder-shown) + label{
                            top: -25%;
                            transition: 0.2s;      
                            font-size: var(--fns-default-down-0-6);
                        }   

                button{
                    cursor: pointer;
                    border: none;
                    width: 100%;
                    padding: 0.2rem 0rem;
                    border-radius: 5px;
                    padding: 0.3rem 0rem;
                    background-color: var(--ash1-lgray);
                }



        .output_frame{
            flex-direction: column;
            grid-area: 2 / 2 / 2 / 4;
        }   
            .output_frame .form_box{
                width: 100%;}
            .output_frame .titlebox{
                height: 20%;
            }
            .output_frame .output_box{
                height: 80%;
            }

        .output_frame span{
            font-family: "Monument";
        }


        footer{
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: 3/1/3/4;
        }   
            footer .footer_part{      
                align-items: start;
                flex-direction: column;
                width: 100%;
                height: 100%;
            }                
                .footer_part p{
                    margin: 0rem 2rem;
                    color: gray;
                    font-size: var(--fns-down-1);
                }
             